<app-nav-bar></app-nav-bar>
<div class="main-content">
    
<!-- <div fxLayoutAlign="center">
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px grid" fxLayout.lt-sm="column">

        <app-cat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        </app-cat-card>
        <app-cat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        </app-cat-card>
        <app-cat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        </app-cat-card>
        <app-cat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        </app-cat-card>
        <app-cat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        </app-cat-card>
        <app-cat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        </app-cat-card>
        <app-cat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        </app-cat-card>
    </div>
</div> -->

</div>